# Week 8 Group Assignment

Lookup information on geometric mean and harmonic mean to answer the following questions:

a. In a jupyter notebook create a markdown section for each of the three concepts: arithmetic mean, geometric mean, and harmonic mean

b. Write a definition for arithmetic mean, geometric mean, and harmonic mean, under their respective headings

c. Write a code example for arithmetic mean, geometric mean, and harmonic mean using the Belize Airbnb data in a cell under the each respective summary in markdown

In [11]:
import numpy as np
import pandas as pd

#modules for statistics
import math
import statistics
from scipy import stats

belize_listings = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings)
belize_df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

## Arithmetic mean 

Arthmetic mean is your typical way of finding the average of a set of data points. In order to calculate this you take the sum of the data points and divide by the number of points.

In [5]:
statistics.mean(belize_df['price'])
# This function simply added all the price points 
# and divided by the number of prive values.

357.1022889842632

## Geometric mean 

The geometric mean is similar to the arthmetic mean in that it seeks to find the average. To find the geometric mean, you multiply all the data points together and take the square root. This is particularly useful for accountants trying to find the average rates of return or scientists trying to find the growth rate.

In [16]:
stats.gmean(belize_df['price'])
# We should expect to see the geometric mean to be smaller than the arithmetic
# due to the compounding nature that mathmatical function.

234.7347175108817

## Harmonic mean

The harmonic mean is calucated by taking the reciprocal of the average of the reciprocals. This is helpful for when you are looking for the average rate of something that does not have same unit of measurement. For example, finding the average of speed going km/m.

In [17]:
statistics.harmonic_mean(belize_df['price'])
# The harmonic mean is usually lower than the geometric mean 
# except in the case that all data points are matching. 
# This is due to the use of reciprocals.

170.9933850102646

Write a function to sort several subsequent inputs alphabetically. For example, if you first input ‘banana’ and next input ‘apple’, the first time [‘banana’] will be the output but the second time [‘apple’,’banana’] will be the output. The results should be stored until you restart your kernel. There are several approaches that will work, but using a global variable is likely the easiest https://www.w3schools.com/python/python_variables_global.asp

In [22]:

a = ['apple', 'orange'] #Create a table so that you can add to it. 
b = input() #used the input function so that an outside user could add whatever item to the list. 
def alpha_inputs(b):
    a.append(b) # this allows you to add the item to the list    
    a.sort() # this sorts the strings in alphabetical arrangement. 
    return a # the output will the be appened table. 
    
alpha_inputs(b)

banana

['apple', 'banana', 'orange']